.DS_Store

arsipapp/cache/*
!arsipapp/cache/index.html

arsipapp/logs/*
!arsipapp/logs/index.html

!arsipapp/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

user_guide

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
jsconfig.json
.vscode
uploads/lampiran/*.pdf